<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="navigateHospitals()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/hospital.jpg" alt="">
 
                    <div class="card-body text-center">
                        <h1><strong>HOSPITALS</strong></h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="navigatePlans()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/plan.jpg" alt="">
 
                    <div class="card-body">
                        <h1><strong>PLANS</strong></h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="navigateTests()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/test.jpg" alt="">
 
                    <div class="card-body text-center">
                        <h1><strong>TESTS</strong></h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </div>