mat-expansion-panel
{
    border: 1px solid navy;
}

.table-borderless td, .table-borderless th 
{
    border: 0;
}

td 
{
    font-family: sans-serif;
}

mat-panel-title
{
    text-transform: uppercase;
}

mat-list-item
{
    font-family: sans-serif;
}