<div class="container mt mb">
    
    <button (click)="getCreatePlan()" mat-raised-button style="background-color: #28a745; color:white">CREATE <mat-icon>library_add</mat-icon></button>
    <br><br>
    <div class="row" *ngFor="let planTestWrapperObject of planTestWrapperObjectList; let i = index">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-center">
                        <mat-icon style="color: rgb(255, 213, 0);">book</mat-icon> &nbsp;<strong>{{planTestWrapperObject.plan.planName}}</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click Here To Toggle Details
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table table-borderless table-condensed">
                    <tbody>
                    <tr>
                        <td colspan="3">DESCRIPTION: &nbsp;{{planTestWrapperObject.plan.description}}</td>
                    </tr>
                    <tr>
                        <td>
                            TESTS:
                                <mat-list>
                                    <mat-list-item *ngFor="let test of planTestWrapperObject.testList; let j = index"><mat-icon matListIcon>assignment</mat-icon>{{test.testName}}</mat-list-item>
                                </mat-list>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <mat-action-row>
                    <button (click)="getUpdatePlan(planTestWrapperObject)" mat-raised-button color="primary">UPDATE <mat-icon>update</mat-icon></button>
                    <button (click)="deletePlan(planTestWrapperObject)" mat-raised-button color="accent">DELETE <mat-icon>delete</mat-icon></button>
                </mat-action-row>

            </mat-expansion-panel>

        </mat-accordion>

    </div>
</div>
<br>
<br>
<br>


