<div class="bootstrap-wrapper">
    <div class="container mt" style="background-color: white;">
        <div class="row">
            <div>
                <br>
                <div>
                    <h1 class="text-center" style="color: black;">
                        <mat-icon style="color:#28a745">add_circle</mat-icon> <strong> CREATE PLAN</strong>
                    </h1>
                </div>
                <p class="text-center" *ngIf="formEmpty" style="color: red; margin-top: 5px;">Please Fill Out All
                    Mandatory Fields</p>
                <form class="text-center" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <table class="table table-borderless table-condensed">
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label style="color: black;">Plan Name</mat-label>
                                        <input [(ngModel)]="plan.planName" required name="planName" type="text" matInput
                                            placeholder="Enter Plan Name" autocomplete="off">
                                        <mat-icon matSuffix>create</mat-icon>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label style="color: black;">Description</mat-label>
                                        <input [(ngModel)]="plan.description" required name="description" type="text"
                                            matInput placeholder="Enter Description" autocomplete="off">
                                        <mat-icon matSuffix>create</mat-icon>
                                    </mat-form-field>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <!--<form [formGroup]="myForm">
                                    <ng-multiselect-dropdown name="test" [placeholder]="'Select Tests'"
                                        [data]="allTestList" [(ngModel)]="selectedItems" formControlName="test" [disabled]="disabled"
                                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                                    </ng-multiselect-dropdown>
                                    </form>-->
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="container" style="width: 30%">
                        <form [formGroup]="myForm">
                            <ng-multiselect-dropdown name="test" [placeholder]="'Select Tests'" [data]="allTestList"
                                [(ngModel)]="selectedItems" formControlName="test" [disabled]="disabled"
                                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                            </ng-multiselect-dropdown>
                        </form>
                    </div>

                    <br><br><br><br><br><br><br><br>

                    <div class="container">
                        <button type="submit" mat-raised-button style="background-color: #28a745; color: white">CREATE
                            <mat-icon>add_box</mat-icon>
                        </button>
                        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">RESET
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>