<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="getSearchHospitals()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/searchhospital.jpg" alt="">
 
                    <div class="card-body text-center">
                        <h1><strong>SEARCH HOSPITALS</strong></h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="getMemberRegistration()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/memberregistration.jpg" alt="">
 
                    <div class="card-body">
                        <h1><strong>MEMBER REGISTRATION</strong></h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4 text-center">
            <a (click)="getMemberValidation()">
                <div class="card shadow-lg rounded">
                    <img class="card-img-top" src="/assets/manageappts.jpg" alt="">
 
                    <div class="card-body text-center">
                        <h1><strong>MANAGE APPOINTMENTS</strong></h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </div>
